@import './variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary, sans-serif;
  margin: 0;
<<<<<<< Updated upstream
=======
  background: #111;
>>>>>>> Stashed changes
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

main {
  min-height: calc(100vh - 223px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding: 0;
}
